<table class="table">
    <thead>
        <tr>
             <th scope="col">Commune</th>
             <th scope="col">Département</th>
             <th scope="col">Région</th>
            <th scope="col">Fédération</th>
        </tr>
    </thead>
    <tbody>
        {% comment %} {% for data in club %}

        <tr>
             <td>{{ data.commune }}</td>
            <td>{{ data.departement }}</td>
            <td>{{ data.region }}</td>
            <td>{{ data.federation }}</td>
        </tr>
        {% endfor %} {% endcomment %}
    </tbody>
</table>